body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    width: max-content;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #9559ba;
    margin-bottom: 5px;
}

input:hover {
    border: 1px solid #f5a147;
}

button {
    background: #9559ba;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

button:hover {
    background: #f5a147;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

li {
    /* background-color: blue; */
    display: flex;
    margin-bottom: 5px;
    font-size: 3ch;
}

li a {
    /* background-color: chartreuse; */
    color: #9559ba;
    margin-left: 10px;
}

li a:hover {
    color: #f5a147;
}

h3{
    color: #9559ba;
    font-weight: 400;
    margin: 0;
    /* background-color: aqua; */
    font-size: 2ch;
}

svg {
    /* background-color: crimson; */
    width: 2ch;
    height: 2ch;
    margin-left: 10px;
}

#delete-icon {
    fill: #9559ba;
    cursor: pointer;
}

#delete-icon:hover{
    fill: #e72a49
}