* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
    /* font-family: 'Patrick Hand', cursive; */
}

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-track {
    background: hsl(216, 28%, 7%);
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(hsla(277, 41%, 54%, 0.3), hsla(31, 90%, 62%, 0.3));
    border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(hsla(277, 41%, 54%, 1), hsla(31, 90%, 62%, 1));
}


body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    width: max-content;
    background-color: #28223F;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.input-container {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    align-items: center;
}

#input-el {
    width: 65%;
    /* width: 0; */
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0px solid #9559ba;
    border-radius: 40px;
    box-shadow: inset 4px 4px 8px #1d192e,
            inset -4px -4px 8px #332b50;
    background-color: #28223F;
    color: #9559ba;
    font-size: 1rem;
    outline: none;
}

button {
    background: #28223f;
    color: #9559ba;
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover {
    background: #28223f;
    box-shadow: inset 4px 4px 8px #1d192e,
            inset -4px -4px 8px #332b50;
    color: #f5a147;
}

#ul-el {
    list-style: none;
    padding: 10px;
    max-width: 400px;
    margin: 5px;
    box-shadow:  4px 4px 8px #1d192e,
             -4px -4px 8px #332b50;
    border-radius: 15px;
    display:none;
}

li {
    /* background-color: blue; */
    display: flex;
    margin-bottom: 5px;
    font-size: 2ch;
    align-items: center;
}

li a {
    /* background-color: chartreuse; */
    color: #9559ba;
    margin-left: 40px;
    font-weight: 400;
    max-width: fit-content;
    word-break: break-all;
}

li a:hover {
    color: #f5a147;
}

.delete-button-svg {
    /* background-color: crimson; */
    width: 3ch;
    height: 3ch;
    position: absolute;
}

#delete-icon {
    fill: #9559ba;
    cursor: pointer;
}

#delete-icon:hover {
    fill: #e72a49
}

.link-icon {
    height: 40px;
    border-radius: 50%;
    /* box-shadow:  4px 4px 8px #1d192e,
             -4px -4px 8px #332b50; */
    /* box-shadow: inset 4px 4px 8px #1d192e,
            inset -4px -4px 8px #332b50; */
}

.search {
    position: relative;
    width: 40px;
    /* width: 300px; */
    height: 40px;
    background: #28223f;
    border-radius: 40px;
    transition: 0.5s;
    box-shadow:  4px 4px 8px #1d192e,
             -4px -4px 8px #332b50;
    overflow: hidden;
}

.search:hover {
    box-shadow: inset 4px 4px 8px #1d192e,
            inset -4px -4px 8px #332b50;
}

.search.active {
    width: 300px;
    box-shadow: inset 4px 4px 8px #1d192e,
            inset -4px -4px 8px #332b50;
}

.search-icon-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 1000;
}

.search .search-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
}

#search-icon {
    fill: #9559ba;
}




#input-el.active {
    visibility:hidden;
    width: 0;
    opacity: 0;
}


.inputSearch {
    position: relative;
    width: 240px;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#searchInput-el {
    width: 100%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px 0;
    padding-right: 25px;
    background: transparent;
    color: #9559ba;
}

.erase-icon-div{
    position: absolute;
    top: 80%;
    transform: translateY(-73%);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.erase-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    visibility: hidden;
}

#erase-icon {
    fill: #e72a49;
}
